<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skithub.resultdear">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lutt"
        tools:ignore="UnusedAttribute">
        <activity android:name=".ui.pdf_info.PdfInfoActivity" />
        <activity android:name=".ui.GridLayout.YesVsPreActivity" />
        <activity
            android:name=".ui.GridLayout.YesterdayResultActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.GridLayout.Winning_NumbersActivity" />
        <activity
            android:name=".ui.GridLayout.TodayResultActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.GridLayout.To_Get_HelpActivity" />
        <activity android:name=".ui.GridLayout.SPL_Or_BumperActivity" />
        <activity android:name=".ui.GridLayout.old_result.OldResultActivity" />
        <activity android:name=".ui.GridLayout.Claim_formActivity" />
        <activity android:name=".ui.Your_Lucky_NumbersActivity" />
        <activity android:name=".ui.Fst_Prize_WinnersActivity" />
        <activity android:name=".ui.Today_Number_CheckActivity" />
        <activity android:name=".ui.stady" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>