<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skithub.resultdear">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lutt"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name=".ui.common_number_details.CommonNumberDetailsActivity" />
        <activity android:name=".ui.common_number.CommonNumberActivity" />
        <activity android:name=".ui.winning_number.WinningNumberActivity" />
        <activity android:name=".ui.privacy_policy.PrivacyPolicyActivity" />
        <activity android:name=".ui.lottery_number_check.LotteryNumberCheckActivity" />
        <activity android:name=".ui.lottery_result_info.LotteryResultInfoActivity" />
        <activity android:name=".ui.yes_vs_pre.YesVsPreActivity" />
        <activity android:name=".ui.yesterday_result.YesterdayResultActivity" />
        <activity
            android:name=".ui.today_result.TodayResultActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.get_help.To_Get_HelpActivity" />
        <activity android:name=".ui.special_or_bumper.SplOrBumperActivity" />
        <activity android:name=".ui.old_result.OldResultActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.Lutt.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />
    </application>

</manifest>