<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skithub.resultdear">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lutt"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity android:name=".ui.common_number.CommonNumberActivity"></activity>
        <activity android:name=".ui.winning_number.WinningNumberActivity" />
        <activity android:name=".ui.privacy_policy.PrivacyPolicyActivity" />
        <activity android:name=".ui.today_lottery_number_check.TodayLotteryNumberCheckActivity" />
        <activity android:name=".ui.GridLayout.lottery_number_list.LotteryNumberListActivity" />
        <activity android:name=".ui.result_image_info.ResultImageInfoActivity" />
        <activity android:name=".ui.yes_vs_pre.YesVsPreActivity" />
        <activity
            android:name=".ui.yesterday_result.YesterdayResultActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity android:name=".ui.GridLayout.wining_numbers.Winning_NumbersActivity" />
        <activity
            android:name=".ui.today_result.TodayResultActivity"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity android:name=".ui.get_help.To_Get_HelpActivity" />
        <activity android:name=".ui.special_or_bumper.SPL_Or_BumperActivity" />
        <activity android:name=".ui.old_result.OldResultActivity" />
        <activity android:name=".ui.GridLayout.claim_form.Claim_formActivity" />
        <activity android:name=".ui.lucky_number.Your_Lucky_NumbersActivity" />
        <activity android:name=".ui.first_prize_winner.Fst_Prize_WinnersActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>